# LIST data structure:
    1.  A collection of values,each value is separated by commas and enclosed by square brackets.
    2.  lists are created by using the keyword list()
    3.  Insertion order is preserved.
    4.  Insertions are allowed.
    5.  Deletions are allowed.
    6.  List supports heterogeneous elements.
    7.  List supports duplicate elements.
    8.  List is dynamic. i.e. the size can be increased or decreased based on our requirement.
    9.  List is mutable. to change its content or its value.
    10. List supports indexing and slicing.
    11. List supports positive and negative indexing
    
    positive index starts from left to right i.e. 0,1,2.,,,
    negative index start from right to left i.e. -1,-2,-3,...

In [ ]:
#ex-1: to create a empty list:
a=[ ]
print(a)
print(type(a))

In [ ]:
#ex-2: to create a empty list using list()
a=list()
print(a)
print(type(a))

In [ ]:
#ex-3: to create a list with elements:
a=[11,22,33,44]
print(a)
print(type(a))

In [23]:
a=11,22,44
a
type(a)

tuple

In [ ]:
#ex-4: to create a list using list()
a=list(range(1,11,2))
print(a)
print(type(a))

In [ ]:
#ex-5: to create a list with duplicate elements:
a=[11,22,11,43,55,77,11,22,22,11]
print(a)

In [ ]:
#ex-6: to create a list at runtime using eval()
a=eval(input('enter list elements'))
print(a)

In [ ]:
#ex-7: to create a list with heterogeneous elements:
a=[1901,'siva kumar',89000.50]
print(a)
print(type(a))

In [ ]:
#ex-8: lists are mutable:
a=[11,22,33,44]
print(a)

In [ ]:
a[1]=99
print(a)

In [ ]:
a[-3]=88
print(a)
a[1]

In [ ]:
a[-3]

In [ ]:
a[-3]

In [ ]:
a=[11,22,33,44]
print(a)
a[4] ='python'
print(a)

#  built-in methods or built-in functions in Lists
    1.  len()
    2.  max()
    3.  min()
    4.  sum()
    5.  append()
    6.  insert()
    7.  extend()
    8.  pop()
    9.  remove()
    10. clear()
    11. copy()

In [ ]:
a=[11,2,44,3]
print('no. of elements in a list=',len(a)) # len()..it returns no. of elements present in a list.
print('highest value in a list',max(a)) #  max()..it returns highest value in a list
print('lowest value in a list=',min(a)) # min()..it returns lowest value in a list
print('sum of list elements=',sum(a)) # sum()..it returns sum of list elements.

In [ ]:
# 5. append():  This function is used to add new element at the end of the list.
# eg
a=[11,22,33,44]
print(a)
a.append(88)
a.append(999)
a.append('python')
print(a)

In [ ]:
# 6. insert(): This function is used to add new element at the given index number.
# syntax:
# insert(indexnumber,newelement)
# eg:
a=[11,22,33,44]
print(a)
a.insert(2,99)
print(a)

In [ ]:
# 7. extend():
# This function is used to add multiple elements.
a=[11,22,33,44]
b=[88,99,77,66]
print(a)
a.extend(b)
print(a)

In [ ]:
#ex-2:
a=[11,22,33,44]
print(a)
a.extend([100,200,300,400,500])
print(a)

In [ ]:
#ex:3
a=[]
print(a)
a.extend(range(1,11,1))
print(a)

In [ ]:
#8. pop():
#This function is used to remove the last element
#or specified index number element from the list
#ex:
a=[11,22,33,44]
print(a)
a.pop()
print(a)

In [ ]:
#ex-2:
a=[11,22,33,44]
print(a)
a.pop(-2)
a.pop(0)
print(a)

In [ ]:
# 9. remove(): This function is used to remove the specified element.if the element is not present in a list, it returns
# Value Error.
a=[11,22,33,44]
print(a)
a.remove(22)
print(a)
a.remove(11)
a

In [ ]:
#eg: 2 if the element present more than one time, it removes the first occurence'''
a=[11,22,11,22,78,11,33,44]
print(a)
a.remove(11)
print(a)

In [ ]:
#10. clear(): this function is used to remove all elements from a list
#eg:
a=[11,22,33,44]
print(a)
a.clear()
print(a)

In [ ]:
print(a)

In [ ]:
# 11. copy(): This function is used to copy the values from one list to another list
a=[11,22,33,44]
b=a.copy()
print(a)
print(b)
b[0]=66
print(b)

In [ ]:
#11. del: this keyword is used remove the object from memory
# syntax: del objectname
a=[11,22,33,44]
print(a)
del(a)
#print(a)

In [ ]:
print(a)

# Some More functions in LIST

In [3]:
'''count():
    This function returns number of times present ,
    a given element in  a list.
    if the element not present in a list, it returns '0'.'''
#ex-1:    
a=[11,22,33,11,88,11,33]
print(a.count(11))
print(a.count(88))
print(a.count(22))
print(a.count(99))

3
1
1
0

In [4]:
'''index(): This function returns the index number of the given element.
            if the element present multiple times then it returns first occurence.
            If the element not present in a list, it returns ValueError.     
ex:'''
a=[11,22,33,11,88,11,33]
print(a.index(11))
print(a.index(88))
print(a.index(33))
print(a.index(99))

0
4
2

ValueError: 99 is not in list

In [5]:
'''reverse() - This functions returns reversing a given list.
                This function does not takes any arguments
                This function does not returns any values.
'''
a=[11,22,33,44]
print(a)
a.reverse()
print(a)

[11, 22, 33, 44]
[44, 33, 22, 11]

In [6]:
'''sort() - This functions is used to sort the elements:
            ascending order.....to arrange the elements lowest value to highest value.
            descending order...>to arrange the elements highest value to lowest value.
            by default order is ascending order.
'''
#ex-1: to sort the elements in ascending order
a=[11,2,33,4]
print(a)
a.sort()
print(a)

[11, 2, 33, 4]
[2, 4, 11, 33]

In [ ]:
#ex-1: to sort the elements in ascending order
a=[11,2,33,4]
print(a)
a.sort()
print(a)

In [7]:
#ex-2: to sort the elements in descending order
a=[11,2,33,4]
print(a) 
a.sort(reverse=True)
print(a)

[11, 2, 33, 4]
[33, 11, 4, 2]

# mathematical operators in lists:
1. list concatenation operator(+):
    This opertor is used to concatenate two or more list.

In [9]:
#ex-1:
a=[]
b=[]
c=a+b
print(c)

[]

In [10]:
#ex-2:
a=[11,22,33,44]
b=['python','c','c+++']
c=['java','r','devops']
d=a+b+c
print(d)

[11, 22, 33, 44, 'python', 'c', 'c+++', 'java', 'r', 'devops']

2. list repetation operator(*):

In [12]:
# This function is used to repeat a list 'n' number of  times.
#ex-1:
a=[11,22,33,44]
print(a*5)

[11, 22, 33, 44, 11, 22, 33, 44, 11, 22, 33, 44, 11, 22, 33, 44, 11, 22, 33, 44]

In [13]:
#ex-2:
b=['python','c','c+++']  
c=b*5
print(c)

['python', 'c', 'c+++', 'python', 'c', 'c+++', 'python', 'c', 'c+++', 'python', 'c', 'c+++', 'python', 'c', 'c+++']

3. list comparison opertor(==):

In [14]:
#This operator is used to compare two lists. It retutns True or False.
#   eg:
a=[11,22,33,44]
b=['python','c','c+++']
c=[11,22,33,44]
print(a==b)
print(b==c)
print(c==a)

False
False
True

In [15]:
#eg: for loop in list:
 
a=[11,22,33,44]
for i in a:    
    print(i)

11
22
33
44

In [17]:
# in and not in opertors in lists:
a=[11,22,33,44]
print(11 in a)
print(88 in a)
print(120 not in a)
print(33 not in  a)

True
False
True
False

In [19]:
#nested lists:
#    A list contains another list.     It is called a nested list.

#a = [11,22,33,[12,44],[44,55],5]
a=[11,22,[1,2,3],66,[6,7,8]]
print(a[0])
print(a[4][1])
print(a[4][2])
print(a[2][1])

11
7
8
2

In [ ]:
# Write a program to print list elements:
a=[11,22,33,44]
for i in a:
    print(i)

In [ ]:
# Write a program to count number of elements in a list:
# method-1
a=[11,22,33,44]
print('no. of elements=',len(a))

In [20]:
# method-2:     
a=[11,22,33,44]                         
count=0                                 
for i in a:                               
    count=count+1                         
print('no. of elements in a list=',count)

no. of elements in a list= 4

In [ ]:
# Write a program to sum of elements in a list:
# method-1

a=[11,22,33,44]
print('sum of elements=',sum(a))

In [21]:
# method-2:     
a=[11,22,33,44]                         
sum=0                                 
for i in a:                               
    sum=sum+i                         
print('sum of elements in a list=',sum)

sum of elements in a list= 110