# Recap
1. Introduction
2. Keywords and Identifiers
3. Single Comments and Multi Line comments
4. DocString

# Recap
5. Indentation
6. Python Statements
7. MultiLine statements
8. Variables
9. Variable Assignments
10. Multiple Assignments
11. Storage Locations

In [1]:
#indentation

if True:
    print("Hellow")
print("Out of Indentation")

Hellow
Out of Indentation

In [4]:
a=10
b=20
if (a>10):
    print("hi")
else:
    print("Bye")

Bye

In [6]:
a=1 # single statement
print("Hi...a value",a)

Hi...a value 1

In [8]:
a = 1 + 2 + 3 \ # multiple statement with \
    + 4 + 5 \
    +6 +7
a

28

In [9]:
a = (1 + 3 + 4 # multi line statement
    + 5
    +7
    +9)
a

29

In [12]:
a = 10
b = 20
b

20

In [14]:
name = 'sai'
name

'sai'

In [23]:
f=10
d=f
d
f = 11

In [26]:
id(f)

1685942048

In [27]:
id(d)

1685942016

In [28]:
x = y = z = 10
x
y
z

10

In [29]:
id(x)

1685942016

In [30]:
id(y)

1685942016

In [ ]:
id(z)

In [32]:
k=10
l=20
m=30
print(k)
print(l)
print(m)

In [35]:
k, l, m = 10,20,30
print(k,l,m)

10 20 30

In [36]:
print(id(k))

1685942016

In [37]:
print(id(l))

1685942336

In [38]:
print(id(m))

1685942656

In [ ]:
numbers
boolean
Strings

In [43]:
if True:
    print("This is true")

This is true

In [42]:
if False:
    print('This is False')

In [45]:
name =" Sai Krishan"
name

' Sai Krishan'

In [47]:
type(name)

str

In [48]:
a = True
type(a)

bool

In [50]:
a=10.0
type(a)

float

In [51]:
type(d)

int

In [52]:
type(name)

str

In [54]:
a=10
b=20

In [55]:
id(a)

1685942016

In [56]:
id(b)

1685942336

In [58]:
w=10
q=w

In [59]:
id(w)

1685942016

In [60]:
id(q)

1685942016

# Today
1. Data Types ( Very Important for python)

    a. Lists 
    b. Tuples
    c. Sets
    d. Dictionary
    

2. Input and Output
3. Operators

    a. Arithmetic operators
    b. Comparison (Relational) operators
    c. Logical (Boolean) operators
    d. Bitwise operators
    e. Assignment operators
    f. Special operators

In [4]:
a = [10,20,30] #list
print(a)

[10, 20, 30]

In [5]:
a[0]

10

In [6]:
a[2]

30

In [7]:
type(a)

list

In [8]:
a = [10,'sai',102.22]

In [10]:
a

[10, 'sai', 102.22]

In [11]:
b =(1,2,4)

In [13]:
b

(1, 2, 4)

In [14]:
type(b)

tuple

In [15]:
b[0]

1

In [17]:
b[3]

IndexError: tuple index out of range

In [18]:
c={1,2,4,5}

In [19]:
c

{1, 2, 4, 5}

In [20]:
type(c)

set

In [22]:
d = {'a': 10, 'b': 20}

In [23]:
d

{'a': 10, 'b': 20}

In [24]:
type(d)

dict

In [26]:
d={'empno':122,'empname':'saikrishna'}

In [27]:
d

{'empname': 'saikrishna', 'empno': 122}

In [29]:
d.keys()

dict_keys(['empno', 'empname'])

In [30]:
d.values()

dict_values([122, 'saikrishna'])

In [31]:
print('hello')

hello

In [33]:
a=10

In [43]:
num = int(input("enter first value.."))
num1 = int(input("enter second value..."))
su = num +num1
su

enter first value..8a

ValueError: invalid literal for int() with base 10: '8a'

In [38]:
num

77

In [39]:
type(num)

int

In [2]:
a=9
b=5
a|b

13