# SET
   
        1. A collection of values, each value separated by commas and enclosed by curly braces. It is called a set.
        2. sets are created by using the set()
        3. insertions order is not preserved. i.e set is a unordered list.
        4. insertions are allowed.
        5. deletions are allowed.
        6. set supports heterogeneous elements.  i.e. to store different data type elements.
        7. duplicate elements are not allowed.
        8. set is mutable.
        9. sets does not support indexing and slicing.
        10. set operations set union, set intersection,set difference, set symmetric difference,....etc.
        11. The declaration syntax of creating a set:
            setname={value-1,value-2,value-3.....value-n}

In [10]:
#eg-1: to create a empty set: {1,2,3}
s={ }
print(s)
print(type(s))

{}
<class 'dict'>

In [11]:
#eg-2: to create a empty set:
s={ }
print(s)
print(type(s))

{}
<class 'dict'>

In [12]:
#eg-3: to create a empty set using set().
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [13]:
#eg-4:to create a set with elements:
s={11,22,33,44}
print(s)
print(type(s))

{33, 11, 44, 22}
<class 'set'>

In [15]:
#eg-5:to create a set with elements using set()
s=set(range(1,11,1))
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [17]:
#eg-6: to create a set with heterogeneous elements:
s={1901,'ram',23900.60}
print(s)
type(s)

{'ram', 23900.6, 1901}

set

In [18]:
#eg-7: to create a set with duplicate elements:
s={11,22,11,33,22,55,66}
print(s)

{33, 66, 11, 22, 55}

In [19]:
#eg-8: to create a set at runtime using eval()
s=eval(input('enter set elements:'))
print(s)
print(type(s))

enter set elements:{111,'hai',333,3}
{3, 'hai', 333, 111}
<class 'set'>

# set Methods:
        1. len()
        2. max()
        3. min()
        4. sum()
        5. add()
        6. update()
        7. pop()
        8. remove()
        9. discard()
        10. clear()
        11. copy()
        12. union()
        13. intersection()
        14. difference()
        15. symmetric_difference()

In [20]:
# ex-1:
s={11,22,33,44} 
print(len(s))    # len(): this function is used to find the number of elements present in a set.
s={11,2,33,4}
print(max(s))    # max(): This function returns highest value in a given set.
s={11,2,33,4}
print(min(s))    # min(): This function returns lowest value in a given set.
s={11,2,33,4}
print(sum(s))    # sum(): This function returns sum of all elements in a given set.

4
33
2
50

In [23]:
s={11,2,33,4} # add(): This function is used to add only one element.
print(s)
s.add(99)
s.add(100)
s.add(200)
s.add(300)
print(s)

{33, 2, 11, 4}
{33, 2, 99, 4, 100, 200, 11, 300}

In [24]:
#ex1
s={11,2,33,4} # update() This function is used to add multiple elements.
print(s)
s.update({99,100,200,300})
print(s)

{33, 2, 11, 4}
{33, 2, 99, 4, 100, 200, 11, 300}

In [25]:
#ex-2:
s1={100,200,300,400}
print(s1)
s1.update(range(1,11,1))
print(s1)

{200, 100, 400, 300}
{1, 2, 3, 100, 4, 5, 6, 200, 7, 8, 9, 300, 10, 400}

In [35]:
#ex-3: Check ERROR
s1={110,200,300,400}
s2={10,20,30,40}
print(s1)
print(s2)
print(s1.update(s2))

{200, 300, 400, 110}
{40, 10, 20, 30}
None

In [43]:
s={11,2,33,44} # pop():    This function is used to delete random element from a set.
print(s)
print(s.pop())
print(s)
print(s.pop())
print(s)

{33, 2, 11, 44}
33
{2, 11, 44}
2
{11, 44}

In [46]:
# remove(): This funciton is used to delete the specified element from a set.
#           if the given element not present in a set,it returns KetError.
s={11,2,33,4,5,7,9}
print(s)
s.remove(33)
s.remove(4)
print(s)

{33, 2, 4, 5, 7, 9, 11}
{2, 5, 7, 9, 11}

In [51]:
#discard():   This funciton is used to delete the specified element from a set.
#            if the given element not present in a set, it returns None
s={11,2,33,4}
print(s)
s.discard(33)
print(s)
s.discard(43)
print(s)

{33, 2, 11, 4}
{2, 11, 4}
{2, 11, 4}

In [53]:
# clear(): This function is used to delete all elements from a set.
s={11,2,33,44}
print(s)
s.clear()
print(s)

{33, 2, 11, 44}
set()

In [54]:
# copy(): This function is used to copy the elements from one set to another set. i.e. cloned copy.
# ex-1:
s1={11,2,33,4}
s2=s1.copy()
print(s1)
print(s2)

{33, 2, 11, 4}
{33, 2, 11, 4}

# mathematical operations in sets:
===============================
12. union() or  | :
13. intersection() or &:
14. difference() or -:
15. symmetric_difference() or ^:

In [57]:
# union() or |: It returns all the elements present in both the sets.
s1={11,22,33,44}
s2={33,44,55,66}
#s3=s1|s2   #   or    
s3=s1.union(s2)
print(s3)

{33, 66, 11, 44, 22, 55}

In [58]:
#intersection() or &:  It returns common elements in both the sets.
s1={11,22,33,44}
s2={33,44,55,66}
s3=s1&s2    # or   s3=s1.intersection(s2)
print(s3)

{33, 44}

In [62]:
#difference()   or  -:   It returns , the elements are present in first set, but not in second set.
s1={11,22,33,44,5,6}
s2={33,44,55,66}
s3=s2-s1    # or   s3=s1.differnece(s2)
print(s3)

{66, 55}

In [64]:
#15. symmetric_difference() or  ^: It returns the elements present in first set and second set, except common elements.
s1={11,22,33,44,7}
s2={33,44,55,66,9}
s3=s1^s2    # or   s3=s1.symmetric_difference(s2)
print(s3)

{66, 7, 22, 55, 9, 11}