# Tuple data structure

        1. A collection of values, each value separated by commans,and enclosed by parenthesis. It is called a tuple
        2. The tuples are created by using the tuple().
        3. In the tuple, the insertion order is preserved.
        4. Insertions are not allowed.
        5. Deletions are not allowed.
        6. Duplicate elements are allowed.
        7. It supports heterogeneous elements  i.e. the tuple object stored different types of elements.
        8. Tuple is immutable. once we create a tuple object .   cannot change its value.
        9. Tuple supports indexing and slicing.
        10. In python indexing are two types.   positive indexing  negative indexing.
              positive indexing starts from left to right i.e. 0,1,2...
              negative indexing starts from right to left i.e. -1,-,2,-3,.....
        11. Declaration  syntax of a tuple object:
              tuplename=(value-1,value-2,value-3,.....value-n)
         ex: t=(11,22,33,44)
              x=('python','c','c++','java')
        12. In tuples, the paranthesis are optional

In [1]:
#ex-1: to create a empty tuple:
t=( )
print(t)
print(type(t))

()
<class 'tuple'>

In [2]:
#ex-2: to create a empty tuple using tuple()
t=tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [3]:
t = 'hi','hello',54
print(t)
print(type(t))

('hi', 'hello', 54)
<class 'tuple'>

In [4]:
#ex-3: to create a tuple with elements:
t=(11,22,33,44)
print(t)
print(type(t))

(11, 22, 33, 44)
<class 'tuple'>

In [8]:
# ex-4: to create a tuple using tuple() with elements:
t=tuple(range(1,11,2))
print(t)

(1, 3, 5, 7, 9)

In [9]:
# ex-5: to create a tuple with duplicate elements:
t=(11,22,11,33,22,66,11)
print(t)

(11, 22, 11, 33, 22, 66, 11)

In [10]:
#ex-6:to create a tuple with heterogeneous elements:
t=(1901,'ram',45000.50)
print(t)

(1901, 'ram', 45000.5)

In [11]:
# ex-7: to create a tuple at runtime using eval()
t=eval(input('enter tuple elements:'))
print(t)

enter tuple elements:12,'asdfs',39.4
(12, 'asdfs', 39.4)

# tuple methods:(built-in functions in tuple)
     1. len() -    It returns no. of elements present in  tuple.
     2. max() -    It returns the highest value in a tuple
     3. min() -    It returns the lowest value in a tuple
     4. sum() -    It returns the sum of all elements in a tuple
     5. sorted() - This function is used to sort the elements either ascending order or descending order
     6. count() -  This function, returns a number of times present a given element in a tuple.
                   If the element not present in a tuple, it returns zero.
     7. index() -  This function returns the index number of the given tuple.
                    if the given element not present in a tuple, it returns ValueError.
                    if the given element present more than one time,then it returns first occurence.

In [12]:
#ex-1:
t=(11,22,33,44)
print('no. of elemets =',len(t))
print('highest value=',max(t))
print('lowest value=',min(t))
print('sum of elements=',sum(t))

no. of elemets = 4
highest value= 44
lowest value= 11
sum of elements= 110

In [13]:
# ex-1: to sort the tuple elements ascending order
t=(11,2,7,5)
print(sorted(t))

[2, 5, 7, 11]

In [14]:
#ex-2: to sort the tuple elements in desceding order:
t=(11,2,7,5)
print(sorted(t,reverse=True))

[11, 7, 5, 2]

In [15]:
# ex-1:
t=(11,22,11,66,99,3,8,66)
print(t.count(66))
print(t.count(11))
print(t.count(99))

2
2
1

In [16]:
#eg: 
t=(11,22,11,66,99,3,8,66)
print(t.index(99))
print(t.index(11))
print(t.index(66))
print(t.index(200))

4
0
3

ValueError: tuple.index(x): x not in tuple

operators used in tuples:
        1. concatenation operator( + )
        2. repetation opertor( *)
        3. comparison operator ( ==)
        4. in and not in operators

In [ ]:
#1. concatenation operator( + ): This operator is used to concatenate two or more tuples.
#ex-1:
t1=(11,22,33,44)
t2=(1,2,3,4)
t3=(100,200,300)
t4=t1+t2+t3
print(t4)

In [ ]:
#2. repetation operator(*): This operator is used to repeat a given tuple into 'n' number of times.
#eg:
t=(11,22,33,44)
print(t*5)

In [ ]:
#3. comparison operator(==): This operator is used to compare two or more tuples. it returns True ,False.
#eg:
t1=(11,22,33,44)
t2=(11,22,33,44)
t3=(1,2,3,4)
print(t1==t2)
print(t2==t3)
print(t3==t1)

In [ ]:
#4. in and not in operators:
'''these operators are also called special operators.
    in...>if the given value present in a object
        it returns true, otherwise returns false.

    not in ...>if the given value not preset in a object
       it returns True, otherwise it returns False'''
#ex-1:
t=(11,22,33,44)
print(11 in t)
print(99 in t)
print(44 not in t)
print(88 not in t)